 .screen-warning {
     display: none;
     background: rgb(26, 31, 46);
     color: rgb(225, 90, 250);
     text-align: center;
     height: 100vh;
     width: 100%;
 }

 .screen-warning h2 {
     margin-bottom: 20px;
     font-size: 1.8rem;
 }

 