 :root {
     --color-background: #121826;
     /* 深色背景，游戏风格 */
     --color-sidebar: #1a1f2e;
     /* 功能栏背景 */
     --color-color: #e15afa;
     /* 主要颜色 */
     --color-border: #b996ff;
     /* 边框颜色 */
     --color-font1: #ffffff;
     /* 字体颜色1 */
     --color-font2: #8a8f9d;
     /* 字体颜色2 */
 }